<!DOCTYPE html>
<html>
  <head>
    <title>GasChannels</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <%= render 'layouts/react_hot_assets' %>
  </body>
</html>
